#gc_hud {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999999999;
    pointer-events: none;
    color: var(--text-color);
}

#gc_hud .menu_controls {
    width: 100%;
    height: 20px;
    background-color: var(--menu-controls-bg-color);
    color: var(--menu-controls-text-color);
    border-radius: 5px 5px 0px 0px;
    text-align: center;
    position: relative;
}

#gc_hud .menu_minimizer {
    margin-left: 20px;
    margin-right: 20px;
    position: absolute;
    top: 0;
    right: 0;
    user-select: none;
}

#gc_hud .menu {
    pointer-events: auto;
    position: absolute;
    background-color: var(--menu-bg-color);
    display: inline-block;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: hidden;
    resize: both;
    width: 300px;
    height: 200px;
    outline: 3px solid var(--menu-border-color);
}

#gc_hud .menu.minimized {
    height: 20px !important;
    overflow-y: hidden;
    resize: horizontal;
}

#gc_hud .group {
    margin: 0px;
    padding: 0px;
    width: 100%;
    /* allocate some space at the top and bottom */
    height: calc(100% - 40px); 
    position: absolute;
    top: 20px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

#gc_hud .button, #gc_hud .group_opener {
    background-color: var(--button-bg-color);
    border: 1px solid var(--button-border-color);
}

#gc_hud .toggle {
    background-color: var(--toggle-bg-color);
    border: 1px solid var(--toggle-border-color);
}

#gc_hud .button, #gc_hud .toggle, #gc_hud .group_opener {
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    width: 90%;
    transition: transform 0.2s ease-in-out;
}

/* make it bounce smaller when clicked */
#gc_hud .button:active, #gc_hud .toggle:active, #gc_hud .group_opener:active {
    transform: scale(0.93);
}

#gc_hud .colorpicker {
    width: 100%;
}

#gc_hud .colorpicker_wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}

#gc_hud .colorpicker_opacity_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#gc_hud .colorpicker_preview {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    opacity: 1;
}

#gc_hud .text {
    text-align: center;
    width: 100%;
}

#gc_hud .textinput_wrapper, #gc_hud .dropdown_wrapper, #gc_hud .slider_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#gc_hud .textinput {
    width: 90%;
    border-radius: 5px;
    border: 1px solid var(--textinput-border-color);
    background-color: var(--textinput-bg-color);
    color: var(--text-color);
    padding: 5px;
    margin: 5px;
}

#gc_hud .dropdown {
    width: 90%;
    border-radius: 5px;
    border: 1px solid var(--dropdown-border-color);
    background-color: var(--dropdown-bg-color);
    color: var(--text-color);
    padding: 5px;
    margin: 5px;
}

#gc_hud .toggle_wrapper, #gc_hud .button_wrapper {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
}

#gc_hud .toggle, #gc_hud .button {
    /* make it take up as much space as possible */
    width: 100%;
    margin: 0px;
}

#gc_hud .keybind_opener {
    width: 30px;
    height: 30px;
    font-size: 30px;
    margin-left: 10px;
}

#gc_hud .keybind_editor_wrapper {
    background-color: var(--keybind-editor-bg-color);
    border: 3px solid var(--keybind-editor-border-color);
    border-radius: 8px;
}

#gc_hud .keybind_editor {
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color);
}

#gc_hud .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

#gc_hud .keybind_title {
    font-size: 40px;
    text-align: center;
}

#gc_hud .keybind_controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#gc_hud .keybind_display {
    border: 3px solid white;
    min-width: 300px;
    border-radius: 5px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#gc_hud .keybind_exclusive {
    display: flex;
}

#gc_hud .keybind_exclusive .text {
    margin-right: 10px;
}

#gc_hud .keybind_editor .action {
    cursor: pointer;
}

#gc_hud .slider {
    width: 90%;
    margin: 5px;
}

.gc_overlay_canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    pointer-events: none;
}

@keyframes slide_out_left {
    0% {
        transform: translateX(0);
        opacity: 1;
        pointer-events: all;
    }

    100% {
        transform: translateX(-100%);
        opacity: 0;
        pointer-events: none;
    }
}

@keyframes slide_out_right {
    0% {
        transform: translateX(0);
        opacity: 1;
        pointer-events: all;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
        pointer-events: none;
    }
}

@keyframes slide_in_left {
    0% {
        transform: translateX(-100%);
        opacity: 0;
        pointer-events: none;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
        pointer-events: all;
    }
}

@keyframes slide_in_right {
    0% {
        transform: translateX(100%);
        opacity: 0;
        pointer-events: none;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
        pointer-events: all;
    }
}

@keyframes idle {}